extends layouts/main-layout.pug

block content
    main
        h1 My Products
        if prods.length > 0
          each product in prods
              p #{product.title}
        else
            h4 No products
